[manifest]
version = "0.1.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = 'for _, v in ipairs(info_queue) do'
position = "before"
payload = '''
if (card) then
	-- Upgrade support
	local slime_upgrade = slimeutils.card_get_upgrade(card)
	if (slime_upgrade and _c.discovered) then
		--		[[ Upgrade Requirements ]]
		info_queue[#info_queue+1] = {set = "Other", key = slime_upgrade.loc_key or ("slime_upgr_".._c.key), specific_vars = (slime_upgrade.loc_vars and slime_upgrade:loc_vars(card) or {}) }
		
		--		[[ Upgrade Preview ]]
		local upgrade_center = SMODS.shallow_copy(G.P_CENTERS[slime_upgrade.card]) -- Upgrade target
		
		-- Upgrade variable stuff
		if (not upgrade_center.unlocked) then										-- Locked
			upgrade_center = {set = "Other", key = "slime_upgr_locked"}
		elseif (not upgrade_center.discovered) then									-- Not Discoverd
			upgrade_center = {set = "Other", key = "slime_upgr_not_discovered"}
		else																		-- Unlocked
			upgrade_center.config = copy_table(upgrade_center.config) -- OG vars
			local upgrade_vars = slime_upgrade.values and slime_upgrade:values(card) or {}
			for k, v in pairs(upgrade_vars) do
				upgrade_center.config.extra[k] = v
			end
			
			-- Use correct localization
			local upgrade_loc_values = upgrade_center.loc_vars and upgrade_center:loc_vars({}, {ability = upgrade_center.config, config = {center = upgrade_center}}).vars or {}
			upgrade_center.loc_vars = function() return {vars = upgrade_loc_values} end
		end

		info_queue[#info_queue+1] = upgrade_center

	end
else
	desc_nodes.slime_desc_icon = _c.slime_desc_icon
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
    info_tip_from_rows(v, v.name),
  }}
}}
'''
position = "after"
payload = '''
if (v.slime_desc_icon) then
	local scale = (v.slime_desc_icon.scale or 1)*0.9
	local obj = Sprite(0,0,scale,scale,G.ASSET_ATLAS[v.slime_desc_icon.atlas], v.slime_desc_icon.pos)
	obj.states.drag.can = false
	obj.config.no_fill = true
	obj:juice_up(0.1,0.1)

	local tag = {
		n = G.UIT.R,
		config = { align = 'tl', padding = scale*-0.5, no_fill = true },
		nodes = {
			{
				n = G.UIT.O,
				config = { object = obj }
			}
		}
	}

	table.insert(info_boxes[#info_boxes].nodes[1].nodes[1].nodes,1,tag)
end
'''
match_indent = true
